	h1{
		text-align: center;
		font-size: 5em;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
	}
	
	h2{
		font-size: 2.5em;
		border-bottom: .1em solid;
		font-family: "Lucida Console", "Courier New", monospace;
		font-weight: 300;
	}
	
	h3 {
		margin-bottom: 0;
		font-size: 1.75em;
		font-family: "Lucida Console", "Courier New", monospace;
		font-weight: 300;
	}
	
	h4 {
		margin-bottom:0;
		font-size: 1.4em;
		font-style: italic;
	}
	
	body {
		display:flex;
		min-height:100vh;
	}
	
	#work h3 {
		margin-top: 2.5em;
	}
	
	#main {
		margin:auto;
		max-width: 1000px;
	}
	
	#google-pm {
		text-align: right;
	}
	
	.columns {
		display: flex;
		justify-content: space-between;
	}
	
	p {
		margin: 0;
		font-size: 16pt;
	}
	
	.jobtitle {
		margin:0
	}
	
	.bullet:before {
		content: " \2022";
		padding-left: .4em;
		
	}
	
	.bullet {
		margin-left: .8em;
		text-indent: -.8em;
	}
		